.weekly-weather {
  width: 30%;
}

.weekly-weather__day {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  border-bottom: solid 1px;
  border-color: rgba(255, 255, 255, .1);
  margin: 5px 0 5px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weekly-weather__week-day {
  max-height: 10%;
  font-size: 24px;
  width: 40px;
}

.weekly-weather__icon-condition {
  max-width: 50px;
  max-height: 50px;
}

.weekly-weather__description {
  width: 15%;
  font-size: 14px;
}

.weekly-weather__temperature {
  display: flex;
}

@media screen and (max-width: 1025px) {
  .weekly-weather {
    width: unset;
  }
}

@media screen and (max-width: 360px) {
  .weekly-weather__day {
    column-gap: 5px;
  }
}