.moon-phase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moon-phase__moon-icon {
  max-width: 40px;
  max-height: 40px;
}

.moon-phase__text {
  font-size: 14px;
  align-self: center;
}