html {
  background: linear-gradient(#4737d6, #5A91C7);
  width: 100%;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  height: 100vh;
  row-gap: 5px;
  display: flex;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}

.page_overlay {
  width: 100%;
  opacity: 0.2;
}

@media screen and (max-width: 1025px) {
  .page {
    row-gap: 20px;
  }
}