.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container__sub-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border-right: solid 1px;
  border-color: rgba(255, 255, 255, .1);
  flex-wrap: wrap;
}

@media screen and (max-width: 1025px) {
  .container__sub-container {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .container__sub-container {
    row-gap: 40px;
  }
}